@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto&family=Ubuntu&display=swap");
/* font-family: "Lato", sans-serif;
font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Ubuntu", sans-serif; */
* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 4%;
  color: white;
  font-size: 32px;
  font-weight: 900;
}
.logged_in {
  width: 40px;
  height: 40px;
  margin: 0px 40px;
  /* background-color: rgb(32, 219, 156); */
  background-image: url(Image/profile_photo.jpg);
  background-size: cover;
  border-radius: 100%;
  background-position-x: 50%;
  border: 3px solid yellow;
  display: none;
}
.logged_in:hover {
  border: 2px solid rgb(0, 195, 255);
}
.ProductAddedToCart {
  width: 96%;
  position: absolute;
  z-index: 50;
  top: 0%;
  left: 2%;
  right: 2%;
  /* display: none; */
  height: 15%;
  margin: 0%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 21px;
  padding: 0%;
  color: wheat;
  background-color: rgba(0, 149, 255, 0.905);
  animation: 0.3s proctAddedCart linear;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  padding-top: 5%;
}
@keyframes proctAddedCart {
  0%{
   transform: scale(1%);
  }
  
}

.kart {
  color: white;
  font-size: 22px;
  position: absolute;
  align-items: center;
  right: 5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart_icon {
  margin: 0px 30px;
}
body {
  width: 100%;
  background-color: #f5f7f9;
  height: 100%;
  overflow-x: hidden;
}
/* todo front page */
.front_page {
  background-image: url(Image/55.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin-bottom: 50px;
}
.mobile_nav{
  display: none;
}
.nav_container {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.674);
  opacity: 1;
  padding: 12px 0px;
  align-items: center;
}
.nav_container ul {
  display: flex;
  margin-left: 20%;
}
.nav_container a {
  color: white;
  margin: 0px 20px;
  list-style: none;
  text-decoration: none;
  font-size: 22px;
}
.front_img {
  background-color: #000000c9;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}
.content_area {
  position: absolute;
  top: 28%;
  left: 10%;
  color: white;
}
.front_page h2 {
  font-size: 60px;
  color: white;
  font-weight: 600;
}
.front_page p {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0px;
}
.btn_1,
.btn_2 {
  background-color: aliceblue;
  border: none;
  padding: 15px 20px;
  color: black;
  word-spacing: 2px;
  margin: 30px 30px 0px 0px;
  font-size: 15px;
}
.btn_1:hover {
  background-color: rgb(170, 249, 249);
}
.btn_1:active,
.btn_2:active {
  transform: scale(1.02);
}
.btn_2 {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-size: 15px;
}
.btn_2:hover {
  color: black;
  background-color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  font-size: 15px;
}
/* todo product for you */
.contaier_1 {
  box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.product_type {
  height: 65vh;
  background-color: rgba(21, 21, 21, 0.66);
  box-sizing: border-box;
  border: none;
  position: relative;
  margin: 10px;
}
.product_type img {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}
.text_content {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
}
.text_content h2 {
  font-size: 30px;
  margin: 10px 0px;
}
.text_content p {
  font-size: 18px;
  margin: 10px 0px;
}
.text_content button {
  padding: 7% 17%;
  margin: 20px 0px;
  font-size: 18px;
  word-spacing: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.78);
}
/*todo top products */
.top_product_container {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
  margin: 0% 7%;
}
.top_product {
  height: 200px;
  background-color: skyblue;
}
.top_product img {
}
.cart_containter_icon {
  position: relative;
  display: flex;
}
#cartIcon {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: rgb(255, 36, 73);
  position: absolute;
  z-index: 0;
  right: 12%;
  top: -35%;
  cursor: default;
}
#clear_cart {
  margin-left: 15%;
  background-color: rgb(10, 111, 183);
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
}
#clear_cart:active {
  transform: scale(1.4);
  background-color: rgb(0, 140, 255);
}
/* todo Featured_Products */
.plus_minus_container {
  display: flex;
  position: relative;
  padding-left: 55%;
  font-size: 21px;
}
.total_quantity {
  font-size: 22px;
  margin: 0px 20px;
}
.plus_minus_icon {
  margin: 2%;
  font-size: 18px;
  margin-top: 10px;
}
.plus_minus_icon:active {
  transform: scale(1.2);
}
.container {
  padding: 7% 2%;
  box-sizing: border-box;
}
.container h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.Featured_Products {
  width: 95%;
  margin: 0% 2%;
  display: grid;
  padding: 20px 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  box-sizing: border-box;
  row-gap: 2%;
}
.product_catagory {
  padding: 5px;
  box-sizing: border-box;
  position: relative;
}
.image_bg {
  background: rgb(246, 246, 246);
  background: radial-gradient(
    circle,
    rgba(246, 246, 246, 1) 0%,
    rgba(214, 212, 212, 1) 100%
  );
}
.product_catagory_img {
  box-sizing: border-box;
  width: 100%;
  height: 230px;
  border: none;
  background-position: center;
  background-size: cover;
  padding: 10px;
}
.product_catagory h4 {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  line-height: 51px;
  font-weight: 600;
}
.para_category {
  font-size: 19px;
  font-family: "Lato", sans-serif;
}
.para_price {
  font-size: 24px;
  line-height: 40px;
  font-family: "Lato", sans-serif;
}
/*todo offer_container */
.offer_container {
  background-image: url(Image/22.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 80vh;
  box-sizing: border-box;
  margin: 0px 20px;
  color: white;
  position: relative;
  box-sizing: border-box;
}
.text_area_container {
  position: absolute;
  top: 20%;
  left: 7%;
}
.offer_container p:nth-child(1) {
  font-size: 25px;
  font-family: "Lato", sans-serif;
}
.offer_container h2 {
  font-size: 40px;
  font-family: "Lato", sans-serif;
  margin: 15px 0px;
}
.offer_container p:nth-child(3) {
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
.offer_container p:nth-child(4) {
  font-size: 23px;
  font-family: "Lato", sans-serif;
  margin: 15px 0px;
}
.bttn {
  color: black;
  background-color: azure;
  padding: 2% 5%;
  border: none;
  margin: 4% 0px;
  font-size: 19px;
  font-family: "Lato", sans-serif;
}
.bttn:hover {
  background-color: rgb(145, 255, 253);
  transition-duration: 200ms;
  transition-timing-function: ease;
}
.bttn:active {
  transform: scale(1.02);
}
.offer_container span {
  color: yellow;
  font-weight: 500;
}
.icon_container_mobile{
  display: none;
}
.why_choose{
  display: block;
  text-align: center;
  margin-top: 2%;
  margin-bottom: -3%;
  font-family: "Roboto", sans-serif;
  font-size: 200%;
  font-weight: 600;
}
/*todo icon_container */
.container_icon {
  padding: 7% 10%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}
.icon_detail_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
  text-align: center;
}
.icon_detail_container img {
  height: 25%;
  width: 25%;
}
.icon_detail_container h2 {
  margin: 5% 0%;
  font-size: 130%;
}
.buttom_heading {
  text-align: center;
  margin: 2%;
  font-family: "Ubuntu", sans-serif;
}
/*todo footer */
footer {
  background-color: #232f3e;
  display: flex;
  padding: 2% 10%;
  align-items: center;
  justify-content: center;
}
.footer_col {
  font-family: "Ubuntu", sans-serif;
  padding: 20px 0px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-align: center;
}
.footer_col a {
  text-decoration: none;
  list-style: none;
  color: white;
}
.footer_col li {
  margin-top: 15px;
}
.footer_col li:first-child {
  margin-top: 40px;
}
.footer_col h4 {
  margin-top: 30px;
  font-size: 25px;
}
.footer_icon {
  font-size: 22px;
  margin-right: 7px;
}
.location_icon {
  font-size: 35px;
  margin-right: 10px;
}
/*todo MEN Section */
.filter_section {
  height: 100%;
  width: 25%;
  top: 0;
  left: 0;
  display: block;
  position: fixed;
  overflow-x: hidden;
  background-color: #f5f7f9;
}
.men_area {
  position: absolute;
  right: 0%;
  left: 0%;
  margin-left: 25%;
  display: inline-block;
  padding-bottom: 30px;
  padding: 0px 40px;
  background-color: #ffffff;
}
.search_container {
  position: relative;
  top: 10%;
}
#text_input {
  padding: 10px 20px;
  width: 60%;
  outline: none;
  border: 0.2px solid grey;
  margin-left: 7%;
}
.filter_section button {
  padding: 11px 20px;
  color: white;
  background-color: #0084d6;
  border: none;
  outline: none;
}
.filter_section p {
  font-size: 22px;
  font-family: "Lato", sans-serif;
  margin: 10% 0% 0% 5%;
}
#range {
  width: 60%;
  margin: 10% 0% 0% 15%;
}
#filter {
  margin: 10% 0% 0% 7%;
  text-transform: uppercase;
}
.filter_section span {
  margin-left: 5%;
  font-size: 17px;
  font-weight: 500;
}
.filter_section h3 {
  font-size: 25px;
  font-weight: 400;
  text-align: left;
  margin: 20% 0% 10% 7%;
}
.filter_section h4 {
  font-size: 19px;
  font-weight: 400;
  text-align: left;
  margin: 5% 0% 4% 7%;
  position: relative;
}
.filter_section h4 a {
  text-decoration: none;
  list-style: none;
  color: rgb(12, 91, 118);
}
.filter_section h4 span {
  position: absolute;
  right: 12%;
}
.men_area h2 {
  margin: 5% 0% 5% 5%;
  font-size: 45px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.men_items_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
/*todo shopping_container */
.shopping_container {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 5% 7%;
}
.shopping_img {
  padding: 20px;
  height: 75vh;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
}
.shopping_img img {
  width: 100%;
  height: 100%;
}
.shopping_price {
  padding: 20px;
  height: 80vh;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  position: relative;
}
.price_text_container {
  position: absolute;
  top: 10%;
  padding-right: 12%;
}
/* cart */
.cart-box {
  width: 100%;
  padding: 20px 7px;
  display: flex;
  border-bottom: 0.2px solid black;
}
.price_per_item {
  position: absolute;
  padding-right: 15%;
  font-size: 19px;
}
.cart-img {
  width: 100%;
  height: 100%;
}
.img_box {
  height: 25%;
  width: 25%;
}
.titile_trash_container {
  width: 100%;
  padding: 0% 4%;
  margin: 0% 5%;
  display: flex;
  color: black;
  justify-content: space-between;
  position: relative;
}
.detail-box {
  display: flex;
  width: 80%;
  position: absolute;
  top: 55%;
  justify-content: space-between;
}
#Total_cart_price {
  margin-left: 10%;
}
.cart_plus_minus {
  position: absolute;
  top: 0%;
  left: 0%;
}
.minus_icon {
  position: absolute;
  left: 0%;
}
.cart_quan {
  position: absolute;
  left: 10%;
}
.plus_icon {
  position: absolute;
  left: 45%;
}
.cart_item_price {
  position: absolute;
  left: 50%;
  font-size: 21px;
  background-color: rgb(24, 22, 62);
  padding: 2px 17px;
  border-radius: 4px;
  color: white;
  margin-top: -2%;
}
.price_and_price_inc_dec_conc {
  display: flex;
}
.cart-title {
  font-size: 1.4rem;
  font-weight: 400;
}
.cart-items {
  height: 40%;
  width: 38%;
  padding: 5px;
  position: absolute;
  bottom: 10%;
  font-size: 21px;
  outline: none;
}
.cart-remove {
  position: relative;
  right: -20%;
  top: 10%;
  color: rgb(227, 2, 66);
  font-size: 1.7rem;
}
.cart-remove:active {
  transform: scale(1.07);
}
.price_text_container h2 {
  font-size: 25px;
  margin-bottom: 5%;
}
.price_text_containe h3 {
  font-size: 22px;
  margin-bottom: 5%;
}
.price_text_container span {
  font-size: 15px;
  font-weight: 400;
  margin-left: 2%;
}
.product_short_detail {
  font-size: 16px;
  font-weight: 400;
  margin-top: 5%;
  line-height: 200%;
}
.color_container {
  display: flex;
  margin-top: 10%;
  margin-bottom: 5%;
}
#color_1,
#color_2,
#color_3 {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: 1px solid white;
}
.color_box:active {
  transform: scale(1.1);
}
#color_1 {
  background-color: rgb(0, 34, 255);
}
#color_2 {
  margin: 0% 5%;
  background-color: green;
}
#color_3 {
  background-color: lightcoral;
}
#no_of_items {
  outline: none;
  width: 15%;
  margin-top: 5%;
  text-align: center;
  padding: 10px;
}
#add_to_cart_btn {
  padding: 8px 20px;
  background-color: #0084d6;
  outline: none;
  margin-left: 10%;
  border: none;
  font-size: 18px;
  color: white;
}
.add_to_cart_item {
  text-decoration: none;
  font-size: 19px;
  position: absolute;
  right: 7%;
  bottom: 3%;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.117);
  background-color: #119df4;
  color: rgb(255, 255, 255);
  border: none;
  padding: 7px 12px;
}
.add_btn_on_click{
  text-decoration: none;
  font-size: 19px;
  position: absolute;
  right: 7%;
  bottom: 3%;
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.117);
  background-color: #f42411;
  color: white;
  border: none;
  padding: 7px 12px;
}
.add_to_cart_item:active {
  transform: scale(1.02);
  background-color: #0b4580;
  transition-timing-function: ease;
}
#add_to_cart_btn:active {
  transform: scale(1.04);
}
.product_rating {
  color: rgb(0, 115, 255);
  margin: 2% 0%;
  font-size: 19px;
}
/* pagination-bar */
.paggination_bar {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 5%;
  padding-bottom: 10%;
}
.paggination_bar a {
  padding: 10px 15px;
  text-decoration: none;
  list-style: none;
  margin: 2px;
  font-size: 19px;
  border: 1px solid black;
  color: black;
}
.paggination_bar a:hover {
  background-color: black;
  color: white;
  transition-duration: 400ms;
}
/*todo cart */
.shopping_cart_container {
  width: 34%;
  position: absolute;
  z-index: 10;
  right: 0%;
  top: 0%;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 10%;
  display: none;
  overflow: scroll;
  height: 100vh;
  overflow-x: hidden;
  transition: ease;
  animation: cart_slide 0.3s linear;
  border-radius: 7px;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.508);
}
@keyframes cart_slide {
  0% {
    transform: translate(100%);
  }
}
.fontpage_overlay {
  background-color: rgba(0, 0, 0, 0.72);
  height: 100%;
  position: absolute;
  z-index: 4;
  display: none;
  top: 0%;
  width: 100%;
}
.shopping_cart_container span {
  position: absolute;
  right: 5%;
  top: 2%;
}
#checkout {
  text-decoration: none;
  background-color: rgb(1, 161, 205);
  color: white;
  padding: 10px 30px;
  margin: 10% 5% 30% 5%;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 5px;
  width: 90%;
  text-align: center;
}
#checkout:active {
  background-color: rgb(35, 15, 55);
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888;  */
  background-color: rgb(255, 213, 0);
  border-radius: 15%;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*todo signup */
.form_container {
  width: 380px;
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.4);
  background-color: white;
  padding: 30px;
}
.sign_in_up_close_btn {
  position: absolute;
  right: 10%;
  color: rgb(7, 102, 236);
}
.form_container h3 {
  font-size: 25px;
  color: rgb(0, 33, 151);
  letter-spacing: 1px;
  margin: 5px 0px 20px 0px;
  font-family: "Roboto", sans-serif;
}
.form_container p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin: 10px 0px 5px 0px;
}
.form_container input {
  width: 100%;
  padding: 10px 0px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
#signup {
  background-color: rgb(255, 166, 0);
  font-size: 21px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 50px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}
#signup:active {
  background-color: rgb(255, 166, 0);
  transform: scale(1.02);
}
#signup:hover {
  background-color: rgb(255, 188, 63);
}
.form_container span {
  color: rgb(0, 33, 151);
  font-size: 21px;
  cursor: pointer;
}
.para a {
  text-decoration: none;
}
.para_danger {
  color: red;
  position: absolute;
  text-align: center;
  left: 80px;
  font-family: "Roboto", sans-serif;
  transition: 0.3s;
  animation: danger_success_animation 0.3s linear;
  display: none;
}
.para_success {
  color: green;
  position: absolute;
  left: 55px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  transition: 0.3s;
  animation: danger_success_animation 0.3s linear;
  display: none;
}
@keyframes danger_success_animation {
  0% {
    transform: scale(0.1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
#google_signup {
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  padding: 7px 9px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 100%;
  font-size: 20px;
  color: white;
  margin-top: 15px;
  position: relative;
  background-color: #4081ec;
}
#google_signup:hover {
  background-color: #5f9cff;
}
#google_signup img {
  height: 30px;
  width: 30px;
  border-radius: 4px;
  position: absolute;
  left: 10px;
  bottom: 4px;
  align-items: center;
}
.sign_in_up_pop {
  position: absolute;
  top: 12%;
  left: 40%;
  right: 40%;
  right: 0;
  z-index: 20;
  display: none;
  animation: pop_up_animation 0.25s linear;
}
@keyframes pop_up_animation {
  0% {
    transform: scale(0.2);
  }
}
/*todo login */
.form_container {
  width: 380px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.4);
  background-color: white;
  padding: 30px;
}
.form_container h3 {
  font-size: 25px;
  color: rgb(0, 33, 151);
  letter-spacing: 1px;
  margin: 5px 0px 20px 0px;
  font-family: "Roboto", sans-serif;
}
.form_container p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  margin: 10px 0px 5px 0px;
}
.form_container input {
  width: 100%;
  padding: 10px 0px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}
#login {
  background-color: orange;
  font-size: 21px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  margin-top: 50px;
  padding: 10px;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
#login:active {
  background-color: rgb(255, 194, 82);
}
.form_container span {
  color: rgb(10, 70, 198);
  font-size: 24px;
  cursor: pointer;
}
#google_signup {
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  padding: 7px 9px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 100%;
  font-size: 20px;
  color: white;
  margin-top: 15px;
  position: relative;
  background-color: #4081ec;
}
#google_signup:hover {
  background-color: #5f9cff;
}
#google_signup img {
  height: 30px;
  width: 30px;
  border-radius: 4px;
  position: absolute;
  left: 10px;
  bottom: 4px;
  align-items: center;
}
#incorrect_user {
  color: red;
  position: absolute;
  text-align: center;
  left: 80px;
  font-family: "Roboto", sans-serif;
  transition: 0.3s;
  animation: danger_success_animation 0.3s linear;
  display: none;
}
#logged_successfully {
  color: green;
  position: absolute;
  left: 100px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  transition: 0.3s;
  animation: danger_success_animation 0.3s linear;
  display: none;
}
@keyframes danger_success_animation {
  0% {
    transform: scale(0.1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

/* label */
#label {
  text-align: center;
  margin-top: 10%;
}
#label button {
  padding: 15px 20px;
  background-color: rgb(0, 102, 128);
  color: white;
  border: none;
  font-size: 19px;
  margin: 5% 0%;
}
#label button:active {
  background-color: rgb(0, 170, 255);
}
.nav_container{
  position: fixed;
  top: 0%;
  z-index: 2;
}
.cart_is_empty{
  color: white;
  padding: 2% 1.5%;
  background-color: rgb(245, 30, 69);
  display: none;
  border-radius: 2%;
  text-align: center;
  margin: 3% 3% 0% 3%;
  animation: 0.4s cart_is_empty linear;
}
@keyframes cart_is_empty {
  0%{
    transform: scale(0.2);
  }
}
